{% extends "base.html" %}
{% block content %}

    <!-- Container -->
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">

        <div class="card login-card p-4 col-md-5">

            <!-- Title -->
            <div class="login-header text-center mb-3">
                Inscription Pokedex EEMI
            </div>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>

        </div>
    </div>

    <style>
        body {
            background-color: #f5f6f8;
        }

        .navbar-custom {
            background-color: #2f6fed;
        }

        .login-card {
            border-radius: 12px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        }

        .login-header {
            background-color: #2e7d1a;
            color: white;
            font-weight: bold;
            padding: 10px;
            border-radius: 8px;
        }

        .btn-primary {
            background-color: #2f6fed;
            border: none;
        }

        .btn-primary:hover {
            background-color: #255bcc;
        }
    </style>
{% endblock %}