{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h1>{{ pokemontype }}</h1>
        <p>
            Ceci est la page de description d'un type.
        </p>
        <ul>
            {% for pokemon in pokemontype.pokemon_set.all %}
                <a href="{% url 'pokemon_detail' pk=pokemon.pk %}">
                    <li>
                        {{ pokemon.name }}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}